@import "reset.css";
@import "default.css";

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: relative;
  display: flex;
}
/* Classes et généralités */
a {
  color : white;
}
a:visited {
  color : white;
}

/* Le header */
header {
  /* background-color: #E3E5E6; */
  background-color: #333;
  min-height: 100%;
  /* max-width: 20%; */
  width: 18%;
  padding: 10px;
  /* border-right: 4px solid #888888; */
  position: fixed;
  left: 0;
}
#titreHeader {
  margin: 0 0 1%;
  height: 19%;
}
#titreHeader h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #ECECE7;
  font-weight: bold;
}
#titreHeader h2 a {
  color: #53F9FF;
}
#titreHeader h2 a:hover {
  color: #07B5DA;
}
header nav {
  height: 80%;
}
header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul li {
  border-bottom: 1px solid #AAAAAA;
  padding: 5px;
}
header nav ul li:last-child {
  border-bottom: 0px solid #AAAAAA;
}
header nav ul li a:hover {
  text-decoration: underline dotted;
}

/* Le main et son contenu */
main {
  position: absolute;
  top: 0;
  right: 0;
  left: 19%;
  /* width: 78%; */
  height: 96%;
  padding: 1%;
}
#stats {
  background-color: #444;
  border: 1px solid #AAA;
  height: 100%;
  width: 100%;
}
